body {
   
   /* margin-top: 0%;
   padding-top:2%;
   padding-left: 2%; */
    background-color: rgb(29, 21, 21);
    page-orientation: upright;
    color-interpolation-filters: auto;
    color: white;
}

h5 {
    text-align: right;
    
    text-decoration: dotted;
    color: rgb(0, 0, 0);
}

div {
    background-attachment: fixed;
    background-color: rgb(199, 177, 147);
}



#Registration {
    
     text-align: center;
    background-color: rgb(238, 131, 0);
    margin-bottom: 0%;
    inline-size: 10%;
    
   


}

 /* #Registration:active {
    background-color: rgb(160, 122, 75);
    margin-bottom: 0%;
    inline-size: 10%;


}

#Registration:hover {
    background-color: rgb(248, 194, 128);
    margin-bottom: 0%;
    inline-size: 20%;


} */
 *{ 
    margin: 0;
    align-items: center;
}  


 h1{
    text-align: center;
 }